<MudDialog>
    <DialogContent>
            <p class="modalInfo"><b>Пользователь:</b>&nbsp;@UserFullName</p>
            <p class="modalInfo"><b>Достижение:</b>&nbsp;@AchieveTitle</p>
            <MudTextField Style="height:55px;" @bind-Value="_message" Label="Ключ тренера" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonPassClick" AdornmentAriaLabel="Show Password" />
            
            <div class="buttons">
                <MudButton @onclick="Cancel" Variant="Variant.Filled"
                    Style="
                        width: 48%;
                        margin-right: 2%;
                        background: indianred;
                        border-radius: 5px;
                        border: 1px solid indianred;
                        color: white;
                        font-family: 'Play', sans-serif;
                        height: 45px;
                        font-size: large;
                        font-weight: bold;
                        padding: 0;
                        cursor: pointer;
                    ">
                    Отменить
                </MudButton>
                <MudButton @onclick="Submit" Variant="Variant.Filled"
                           Style="
                            width: 48%;
                            margin-right: 2%;
                            background: #4E9BDA;
                            border-radius: 5px;
                            border: 1px solid #4E9BDA;
                            color: white;
                            font-family: 'Play', sans-serif;
                            height: 45px;
                            font-size: large;
                            font-weight: bold;
                            padding: 0;
                            cursor: pointer;
                        ">
                    Отменить
                </MudButton>
            </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string UserFullName { get; set; }
    [Parameter] public string AchieveTitle { get; set; }

    private string _message;

    void Submit() => MudDialog.Close(DialogResult.Ok(_message));
    void Cancel() => MudDialog.Cancel();

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonPassClick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}

