<div class="adminKeyinput">
    <p class="modalInfo"><b>Пользователь:</b>&nbsp;@UserFullName</p>
    <p class="modalInfo"><b>Достижение:</b>&nbsp;@AchieveTitle</p>
    <input type="password" autocomplete="off" placeholder="...ключ тренера..." @bind-value="_message" />
    <div class="buttons">
        <button id="buttonSubmit" @onclick="SubmitForm">Подтвердить</button>
    </div>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public string UserFullName { get; set; }
    [Parameter] public string AchieveTitle { get; set; }


    private string _message;

    void SubmitForm() => BlazoredModal.CloseAsync(ModalResult.Ok(_message));
}