header {
    background-color: #0D4E81;
    border-radius: 0px 0px 50px 50px;
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.exitLink {
    display: flex;
    justify-content: left;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 2em;
    color: white;
}

    .exitLink a {
        cursor: pointer;
    }

.heading-wrapper {
    display: flex;
    justify-content: center;
}

.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userImage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 6px;
}

    .userImage img {
        width: 148px;
        height: 148px;
        border-radius: 50%;
        box-shadow: 0 0 4px #7BC3FF;
    }

.changePhoto {
    margin-top: 0 10px;
    color: mediumaquamarine;
}

    .changePhoto input {
        display: none;
    }

    .changePhoto label {
        cursor: pointer;
    }

.userInfo {
    text-align: center;
    margin-bottom: 15px;
}

    .userInfo * {
        margin: 0;
        font-family: 'Play', sans-serif;
        font-style: normal;
        font-weight: normal;
    }

    .userInfo .userName {
        color: white;
        font-family: 'Play', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: xx-large;
        margin: 0;
    }

    .userInfo .userClub {
        color: mediumaquamarine !important;
        text-decoration: none;
        font-family: 'Play', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        margin: 0;
    }

    .userInfo .locate:visited {
        color: white;
    }

.generalInfo {
    text-align: center;
    background-color: white;
    margin: 20px 0;
    padding: 15px 0;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}


.medalIcon
{
    width: 45px;
    height: 45px;
    margin-inline: 10px;
}

.solidHeading {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    font-size: 29px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.task {
    margin: 9px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(1,1,1,0.2);
}

    .task * {
        margin: 0;
        padding: 0;
    }

    .task .logoTask {
        width: 68px;
        margin: 4px 8px 4px 7px;
        object-fit: cover;
    }

    .task .aboutTask {
        width: 100%;
    }

        .task .aboutTask .taskName {
            font-size: 19px;
            font-weight: normal;
            margin-bottom: 6px;
            margin-top: 5px;
        }

        .task .aboutTask .taskDescription {
            font-size: 15px;
            margin-bottom: 5px;
        }

    .task .taskXP {
        margin-right: 15px;
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .task .taskXP p {
            font-size: large;
            font-weight: bold;
            margin: 0;
        }

        .task .taskXP .userPerscentIcon {
            font-size: 20px;
        }

.completedTask {
    background: #7BC3FF;
}

.completedTaskHighlighted {
    background: #ff9e9e;
}

.notCompletedTask {
    background: white;
}

.notCompletedTaskHighlighted {
    background: #98ffdf;
}

.sloganHint {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    color: #818181;
    width: 100%;
}

.sloganTitle {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    margin: 0;
}

@media (max-width:500px) {
    main {
        margin: 0 5px;
    }

    #acceptList {
        right: 3%;
    }

    #deleteList {
        left: 3%;
    }
}

@media (min-width:500px) and (max-width:800px) {
    main {
        margin: 0 10px;
    }

    #acceptList {
        right: 5%;
    }

    #deleteList {
        left: 5%;
    }
}

@media (min-width:800px) and (max-width:1200px) {
    main {
        margin: 0 20px;
    }

    #acceptList {
        right: 10%;
    }

    #deleteList {
        left: 10%;
    }
}

@media (min-width:1200px) {
    main {
        margin: 0;
    }

    #acceptList {
        right: 22%;
    }

    #deleteList {
        left: 22%;
    }
}

#acceptList {
    background-color: #98ffdf;
}

#deleteList {
    background-color: indianred;
}

.overlayButton {
    bottom: 11%;
    z-index: 1;
    text-align: center;
    position: fixed;
    border-radius: 20px;
    padding: 15px;
    border: 0;
    font-weight: bold;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}
