header {
    background-color: #0D4E81;
    border-radius: 0px 0px 50px 50px;
    margin: 0;
}

nav {
    background: white;
    position: fixed;
    width: 480px;
    top: 1010px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.userMenu {
    display: flex;
    justify-content: space-around;
}

#exitImg {
    width: 30px;
    height: 30px;
}

.paragraph {
    padding: 15px;
}

#userParagraph {
    width: 50px;
}

.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userImage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#userProfileImg {
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.changePhotoInput {
    display: none;
}

.changePhotoContainer {
    margin-top: 10px;
    color: mediumaquamarine;
}

.changePhotoText{
    cursor: pointer;
}

.userId {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: xx-large;
    color: white;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.userId *{
    margin: 0;
}

#locate {
    color: mediumaquamarine !important;
    text-decoration: none;
}

    #locate:visited {
        color: white;
    }

.heading-wrapper {
    display: flex;
    justify-content: center;
}

#profileSlogan {
    display: flex;
    justify-content: center !important;
    width: 60%;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-left: 20%;
    color: white;
    justify-content: flex-end;
}

.exitLink {
    display: flex;
    justify-content: left;
    padding-top: 20px;
    padding-left: 20px;
}

    .exitLink a {
        cursor: pointer;
    }

#locate, #XPLevel, #allTasks, #nameTask, #reward {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    margin: 0;
}

#completedTasks, #notCompletedTasks {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    margin: 0;
    width: 80%;
    padding-left: 30px;
}

#locateSlogan, #XPSlogan, #tasksSlogan, .infoTask, .notInfoTask {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    color: #818181;
    padding-top: 5px;
    width: 98%;
}

.notInfoTask {
    color: black !important;
}

.taskXP {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoTask {
    color: black !important;
}

.userPerscentIcon {
    width: 20px;
}

.taskXP p {
    font-size: large;
    font-weight: bold;
    margin: 0;
    /*margin-right: 4px;*/
    color: white !important;
}

.taskXPNotCompleted p {
    color: black !important
}

.generalInfo {
    text-align: center;
}

.generalInfo, .completedTask, .notCompletedTask {
    background: white;
    margin: 30px;
    padding: 15px;
    border-radius: 20px;
}

#completed, #notCompleted {
    margin-bottom: 10px;
}

#notCompleted {
    margin-top: 15px;
}

#completedTask, #notCompletedTask {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #7BC3FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

#notCompletedTask {
    background: white;
}

.aboutTask {
    width: 100%;
}

#infoTask {
    color: white;
}

#logoTask {
    width: 60px;
    object-fit: cover;
}

#clubName {
    color: #0D4E81;
}


#hr {
    background: #818181;
}

#markUp, .markUpRed {
    margin: 0;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #0D4E81;
    padding: 4px;
    border-radius: 10px;
    color: #0D4E81;
}

#markUpRed {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.mark {
    display: flex;
    justify-content: space-between;
}

.taskXP {
    padding-left: 10px;
}

.taskImg {
    padding-right: 10px;
    padding-top: 4px;
}

#markUp {
    height: 20px;
}

.markUpRed {
    height: 20px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footerSections {
    display: flex;
    background: white;
    width: 100%;
    justify-content: center;
    -webkit-box-shadow: 0px -5px 15px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -5px 15px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -5px 15px 4px rgba(0, 0, 0, 0.2);
}

footer img {
    width: 50px;
    margin: 10px 30px 5px 30px;
    object-fit: cover;
}

.secondSection hr {
    border-bottom: 5px solid #0D4E81;
    border-radius: 10px 10px 0px 0px;
    margin: 0;
}

.px {
    width: 100%;
    height: 75px;
}

@media(max-width:430px) {
    #infoTask {
        text-align: left;
    }
}

@media(max-width:600px) {
    .generalInfo, .completedTask, .notCompletedTask {
        margin-left: 10px;
        margin-right: 10px;
    }

    #notCompletedTasks, #completedTasks {
        padding-left: 10px;
    }
}

@media (min-width:1100px) {
    #infoTask {
        width: 100%;
        text-align: left;
    }

    .notInfoTask {
        width: 100%;
        text-align: left;
    }

    #nameTask {
        text-align: left;
    }

    .mark {
        display: unset;
    }

    .taskXP {
        width: 100px;
        text-align: right;
    }

    .notCompletedTask {
        cursor: pointer;
    }
}
