header {
    background-color: #0D4E81;
    border-radius: 0px 0px 50px 50px;
}

.input__file-cont {
    width: 100% !important;
    margin: 0;
}

#input__file{
    display: none;
}

.input__file-icon-wrapper {
    height: 60px;
    width: 60px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-icon-wrapper i{
    font-size: 30px;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__file-button {
    width: 100% !important;
    height: 38px;
    background: #4E9BDA;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
}

.img img {
    width: 60px;
    background: white;
    object-fit: cover;
    margin-right: 15px;
    padding: 3px;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 50px;
    height: inherit;
}

.content-wrapper * {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-wrapper {
    display: flex;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    width: 300px;
    padding: 5%;
}

.registerForm p {
    cursor: pointer;
}

.registerForm hr {
    margin: 0;
    color: #8F8F8F;
    width: 108%;
}

.emailForm input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8F8F8F;
    width:278px;
}

.emailForm select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8F8F8F;
    width: 300px;
    background: white;
}

    .emailForm select option {
        background: white;
    }

.emailForm {
    color: #8F8F8F;
    font-size: 14px;
    width: 100%;
}

.passwordForm input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8F8F8F;
    width: 278px;
}

.passwordForm {
    font-size: 14px;
    color: #8F8F8F;
    width: 100%;
}

#inputFileImg-cont{
    display: flex;
    justify-content: center;
    width: 100%;
}

.headingWrapper {
    margin: 0;
    width: 100%;
}

.submitButton {
    width: 100%;
}

    .submitButton button {
        width: 100%;
        background: #4E9BDA;
        border-radius: 5px;
        border: 1px solid #4E9BDA;
        color: white;
        font-family: 'Play', sans-serif;
        height: 45px;
        font-size: large;
        font-weight: bold;
        padding: 0;
        cursor: pointer;
    }

.registerForm p a {
    text-decoration: none;
    color: #8F8F8F;
    font-weight: bold;
    font-size: 14px;
}

.registerForm{
    margin: 0;
}

.registerForm hr{
    width: 300px;
}